* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}
html,
body {
    font-family: 'American typewriter', sans-serif;
}

header {
    text-align: center;
    padding: 30px;
}

#logo {
    display: inline-block;
}
#logo text {
    font-size: 50px;
}
#container {
    width: 80%;
    margin: 0 auto;
}

#timer {
    font-size: 24px;
}

.block {
    display: block;
}
